.country {
	fill: #e0e0e0;
	stroke: #222222;
	stroke-width:1px;
}
.country:hover {
	fill: white !important;
	stroke-width:1.5px;
}
div #map{
	padding: 0;
}
.totalAsylum {
	font-family: sans-serif;
	font-size: 8px;
}
        