#slider {
  height:5px;
  background-color: lightgrey;
  border-radius: 30px;
  margin: 20px;
}

#date {
  text-align: center;
  top: 10px;
}

#slider-scrub {
  position:absolute;
  font-size:70px;
  color: blue;
  margin-top: -10px;
  padding-left:5px;
  padding-right:5px;
  cursor: pointer;
}